* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://teraludo.com/assets/images/');
    background-attachment: fixed;
    font-family: 'Questrial', sans-serif;
}
.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.btn-success {
    background-color: #28B463;
    border: none;
}


#installInstructions {
    display: none
}

@media (display-mode: browser) {
    #installInstructions {
        display: block
    }
}


#installInstructions {
    position: fixed;
    bottom:60px;
    left: 10px;
    width: 50 ;
  }
  #download{
      background-color:transparent;
      border:0px;
  }
  
  .bgy{
    background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  
  }